button {
  border-radius: 30px;
  width: 8em;
  padding: 0.35em 1em;
  margin: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.orange-button {
  background-color: $orange;
  border: none;

  &:hover {
    background-color: transparent;
    border: 2px solid $orange;
  }
}

.blue-button {
  background-color: transparent;
  border: 2px solid $blue;

  &:hover {
    background-color: $blue;
  }
}

.white-button {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 1em;
  margin: 15em auto 0;
}
