i {
  border: solid $white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.icon {
  height: 1em;
}

#menu-icon {
  position: absolute;
  right: 0px;
  margin: 1.5em 1em;

  @media #{$desktop} {
    display: none;
  }
}
