#header-logo {
  height: 80%;
  margin: 0.5em 0 0.5em 1em;

  @media #{$desktop} {
    margin: 0.5em 0 0.5em 12em;
  }

}

#tix-logo {
  width: 60%;
}

#footer-logo {
  width: 50%;
  display: block;
  margin: auto;

  @media #{$desktop} {
    margin: 2em auto;
  }
}

#second-feature {
  img {
    width: 100%;
    height: auto;
  }
}
