@include font-face('OpenSans');

* {
  font-family: 'OpenSans';
  color: $white;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

h1 {
  font-weight: normal;
  font-size: 40px;

  @media #{$desktop} {
    font-size: 70px;
  }
}

h2 {
  text-transform: uppercase;
  color: $blue;
  margin-top: 0;
  padding-top: 1em;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
}

button {
  font-size: 18px;
}

header {
  ul {
    &:first-of-type {
      font-size: 12px;
      margin: 1.5em 0;
    }

    &:nth-of-type(2) {
      text-transform: uppercase;
      margin: 0.5em 0;
    }
  }

  li {
    margin: 0 0.5em;

    &:hover {
      color: $blue;
    }
  }
}

footer {
  ul {
    text-align: center;
    padding: 1em;
    margin-top: 3em;
    text-transform: uppercase;

    @media #{$desktop} {
      margin-top: 8em;
    }
  }

  li {
    padding: 0 0.5em;
  }

  p:first-of-type {
    padding: 0 1em;

    @media #{$desktop} {
      padding: 0 5.5em;
    }
  }

  p:last-of-type {
    font-size: 14px;
  }
}

.orange-button {
  color: $white;

  &:hover {
    color: $orange;
  }
}

.blue-button {
  color: $blue;

  &:hover {
    color: $white;
  }
}

.white-button {
  text-transform: uppercase;
  color: $white;
  font-size: 12px;
}

#main-feature {
  h1 {
    padding: 15vh 0 0;
    @media #{$desktop} {
      padding: 30vh 0 0;
      margin: 0
    }
  }

  p {
    padding: 0 1em;

    @media #{$desktop} {
      padding: 0 24em;
    }
  }
}

#third-feature {
  h1 {
    margin: 0;
  }

  p {
    padding: 0 1em;

    @media #{$desktop} {
    padding: 0 8em;
    }
  }
}
