header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 12vh;
  background-color: $steel;
}

nav {
  display: none;

  @media #{$desktop} {
    display: block;
    float: right;
    text-align: right;
    margin-right: 12em;
  }
}

section {
  background-size: cover;
  background-position: center;
  text-align: center;
}

footer {
  div {
    height: 80vh;
    width: 100vw;
    padding: 2em;

    @media #{$desktop} {
      width: 50vw;
      float: left;
    }

    &:first-of-type {
      background-image: url($image-path + '/footer-bg.jpg');
      background-size: cover;
      background-position: center;
    }

    &:last-of-type {
      background-color: $black;
    }
  }
}

#main-feature {
  background-image: url($image-path + '/bluecrowd.jpg');
  height: 100vh;
}

#second-feature {
  background-image: url($image-path + '/pattern-bg.png');
  height: 60vh;
}

#third-feature {
  background-image: url($image-path + '/blueconcert.jpg');
  background-position: fixed;
  height: 80vh;

  div {
    width: 100vw;
    padding: 2em 1em 0;

    @media #{$desktop} {
      float: left;
      width: 50vw;
      margin: 10em 0;
      padding: 0;
    }
  }
}

#fourth-feature {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 300vh;

  @media #{$desktop} {
    height: 100vh;
  }

  div {
    background-position: center;
    width: 100vw;
    filter: brightness(60%);

    &:hover {
      transition: .5s;
      filter: brightness(100%);
    }

    @media #{$desktop} {
      width: 50vw;
      height: auto;
    }

    &:nth-of-type(1) {
      background-image: url($image-path + '/image1.jpeg');
    }

    &:nth-of-type(2) {
      background-image: url($image-path + '/image2.jpeg');

      @media #{$desktop} {
        width: 25vw;
      }
    }

    &:nth-of-type(3) {
      background-image: url($image-path + '/image3.jpeg');

      @media #{$desktop} {
        width: 25vw;
      }
    }

    &:nth-of-type(4) {
      background-image: url($image-path + '/image4.jpeg');

      @media #{$desktop} {
        width: 25vw;
      }
    }

    &:nth-of-type(5) {
      background-image: url($image-path + '/image5.jpeg');

      @media #{$desktop} {
        width: 25vw;
      }
    }

    &:nth-of-type(6) {
      background-image: url($image-path + '/image6.jpeg');
    }
  }
}
