header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 12vh;
  background-color: $steel;
}

nav {
  display: none;

  @media only screen and (min-width: 960px) {
    display: block;
    float: right;
    text-align: right;
    margin-right: 12em;
  }
}

section {
  background-size: cover;
  background-position: center;
  text-align: center;
}

footer {
  div {
    height: 80vh;
    width: 50vw;
    float: left;

    &:last-of-type {
      background-color: $black;
    }
  }
}

#main {
  background-image: url($image-path + '/bluecrowd.jpg');
  height: 100vh;
}

#second {
  background-image: url($image-path + '/pattern-bg.png');
  height: 50vh;
}

#third {
  background-image: url($image-path + '/blueconcert.jpg');
  background-position: fixed;
  height: 80vh;

  div {
    float: left;
    width: 50vw;
    margin: 10em 0;
  }
}

#fourth {
  display: flex;
  height: 50vh;

  div {
    background-position: center;
    max-height: 500px;

    &:nth-of-type(1) {
      width: 50%;
      background-image: url($image-path + '/image1.jpeg');
    }

    &:nth-of-type(2) {
      width: 50%;
      background-image: url($image-path + '/image2.jpeg');
    }

    &:nth-of-type(3) {
      width: 50%;
      background-image: url($image-path + '/image3.jpeg');
    }

    &:nth-of-type(4) {
      width: 50%;
      background-image: url($image-path + '/image4.jpeg');
    }

    &:nth-of-type(5) {
      width: 50%;
      background-image: url($image-path + '/image5.jpeg');
    }

    &:nth-of-type(6) {
      width: 50%;
      background-image: url($image-path + '/image6.jpeg');
    }
  }
}
